<section class="w3l-hero-headers-14">
    <div class="hh14-block">
        
        <section id="hh14-content">
            <div class="banner-overlay">
            <div class="wrapper">

                <div>
                    <!-- main-slider -->
                    <div class="main-slider">
                        <div class="csslider infinity" id="slider1">
                            <input type="radio" name="slides" checked="checked" id="slides_1" />
                            <input type="radio" name="slides" id="slides_2" />
                            <input type="radio" name="slides" id="slides_3" />
                            <!-- <input type="radio" name="slides" id="slides_4" /> -->
                           
                            <ul>
                                <li>
                                    <div class="slider-info">
                                        <div class="d-grid hh14-text">
                                            <div class="hh14-info">
                                                <!-- <h6>CORPORATE</h6> -->
                                                <h3>Welcome to Swem Water </h3>
                                                <p>Industry Leaders Since 1998</p>
                                                <a href="services.html" class="actionbg btn">View More</a>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="slider-info">
                                        <div class="d-grid hh14-text">
                                            <div class="hh14-info">
                                                <!-- <h6>CORPORATE</h6> -->
                                                <h3>Improve your Water. Improve your Life </h3>
                                                <!-- <p></p> -->
                                                <a href="services.html" class="actionbg btn">View More</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="slider-info">
                                        <div class="d-grid hh14-text">
                                            <div class="hh14-info">
                                                <!-- <h6>CORPORATE</h6> -->
                                                <h3>Drink Pure Water. Stay Healthy. </h3>
                                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p> -->
                                                <a href="services.html" class="actionbg btn">View More</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="slider-info">
                                        <div class="d-grid hh14-text">
                                            <div class="hh14-info">
                                                <h6>CORPORATE</h6>
                                                <h3>A Marketing And  Brand Creation Agency</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                <a href="services.html" class="actionbg btn">View More</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </li> -->
                                
                            </ul>
                           
                            <div class="navigation">
                                <div>
                                    <label for="slides_1"></label>
                                    <label for="slides_2"></label>
                                    <label for="slides_3"></label>
                                    <!-- <label for="slides_4"></label> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /main-slider -->
                </div>
               
            </div>
        </div>
        </section>
    </div>
</section>
<!-- Heroheader14 block -->

<!-- features-4 block -->
<section class="w3l-features-4">
    <div id="features4-block" class="section-gap">
        <div class="wrapper">
         <div class="section-title align-center text-center">
            <h4>CLEAN WATER SHOULD BE NECESSITY <br> Stem Water - Clean Water, <br> Sustainable Future.</h4>
             <h3>Why Swem ?</h3>
                <!-- <h4>We Provide Full Service Digital</h4> -->
                <p class="sub-paragraph">WELCOME TO SWEM WATER TECH (INDIA) PVT. LTD. MANUFACTURER, SUPPLIER AND SERVICE PROVIDER WITH AN ISO 9001-2008 CERTIFICATION, WITH AN EXPOSURE OF OVER 20 YEARS
                    IN THE FIELD OF TOTAL WATER MANAGEMENT HAVING OVER 1000 INSTALLATIONS IN REPUTED COMPANIES WITH OUR ULTRA-MODERN INNOVATED TECHNOLOGY IN THE WATER, WASTEWATER TREATMENT
                    EQUIPMENT AND CHEMICALS.</p>
            </div>
            <div class="features4-grids text-center">
                <div class="features4-grid">
                    <div class="feature-icon">
                        <span class="fa fa-database" aria-hidden="true"></span>
                    </div>
                    <h5><a href="services.html">Industrial</a></h5>
                    <p>We cater to a wide range of products for industries varying from automobile, textile, pharma, chemicals, paper and pulp, sugar etc </p>
                    <a href="services.html" class="gomore">Read More</a>
                </div>
                <div class="features4-grid">
                    <div class="feature-icon">
                        <span class="fa fa fa-cog" aria-hidden="true"></span>
                    </div>
                    <h5><a href="services.html">Intuitional</a></h5>
                    <p>We provide water and wastewater management solutions to educational institutions, hospitals, laboratories, hotels as well. </p>
                    <a href="services.html" class="gomore">Read More</a>
                </div>
                <div class="features4-grid">
                    <div class="feature-icon">
                        <span class="fa fa-american-sign-language-interpreting" aria-hidden="true"></span>
                    </div>
                    <h5><a href="services.html">Reality</a></h5>
                    <p>We provide water and wastewater management solutions to educational instotutions, hospitals, laboratories, hotels as well. </p>
                    <a href="services.html" class="gomore">Read More</a>
                </div>
                <div class="features4-grid">
                        <div class="feature-icon">
                            <span class="fa fa-assistive-listening-systems" aria-hidden="true"></span>
                        </div>
                        <h5><a href="services.html">Government</a></h5>
                        <p>We provide decentralised community-level systems for drinking water purification and sewage treatment at government buildings. </p>
                        <a href="services.html" class="gomore">Read More</a>
                    </div>
                    <!-- <div class="features4-grid">
                        <div class="feature-icon">
                            <span class="fa fa-bullseye" aria-hidden="true"></span>
                        </div>
                        <h5><a href="services.html">Content Optimization</a></h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quidem soluta quas vel. Harum esse eligendi ducimus tempora placeat consectetur ab quasi </p>
                    <a href="services.html" class="gomore">Read More</a>
                    </div>
                    <div class="features4-grid">
                        <div class="feature-icon">
                            <span class="fa fa-briefcase" aria-hidden="true"></span>
                        </div>
                        <h5><a href="services.html">Branding Design</a></h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quidem soluta quas vel. Harum esse eligendi ducimus tempora placeat consectetur ab quasi </p>
                        <a href="services.html" class="gomore">Read More</a>
                    </div> -->
            </div>
        </div>
    </div>
</section>
<!-- features-4 block -->

<!-- Content-with-photo14 block -->
<section class="content-with-photo-14">
    <div id="cwp14-block">
        <div class="wrapper-right">
            <div class="d-grid cwp14-content">
                <div class="cwp14-img">
                   
                </div>
                <div class="cwp14-text">
                        <div class="section-title cnt-14">
                                <h3>GET TO KNOW US </h3>
                                   <h4>We love to work with clients to develop unique, innovative water treatment solutions.</h4>
                             </div>
                        <p>With Two Decades of Expertise and Experience, Swem Water is proud to be regarded as a manufacturing leader in designing and manufacturing water treatment and wastewater recycling systems.</p>
                        <p>Our Cost-Effective and reliable water and wastewater treatment systems and services ensure uninterrupted quantity and quality of water.</p>
                       <!-- <ul class="con-with-ph-14">
                         <li><span class="fa fa-check"></span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                         <li><span class="fa fa-check" ></span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                          <li><span class="fa fa-check" ></span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                         <li><span class="fa fa-check" ></span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                       </ul> -->
                       <a class="actionbg btn"  href="services.html">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content-with-photo14 block -->
<!---728x90--->

<section class="w3l-features-6">
       <!-- /features -->
           <div class="features">
		      <div class="wrapper">	
					<div class="section-title align-center text-center">
							<h3>FEATURES</h3>
							   <h4>We blend engineering, innovation and design with a unique approach to enable business reinvention.</h4>
							   <p class="sub-paragraph">With Two Decades of Expertise and Experience, Swem Water is proud to be regarded as a manufacturing leader in designing and manufacturing water treatment and wastewater recycling systems.</p>
                               <br><p class="sub-paragraph">Our Cost-Effective and reliable water and wastewater treatment systems and services ensure uninterrupted quantity and quality of water.</p>
						   </div>
			   <div class="fea-gd-vv">	
			      <div class="float-lt feature-gd">	
						<div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
						<div class="icon-info">
						   <h5>Operation and Maintenance</h5>
						   <p> We provide highly qualified professionals and technical manpower to operate the plant and maintain it. We offer comprehensive and non-comprehensive Operation and Maintenance services. </p>
						</div>
		                
				   </div>	
				   <div class="float-mid feature-gd">	
						<div class="icon"> <span class="fa fa-laptop" aria-hidden="true"></span></div>
						<div class="icon-info">
						   <h5>Revamping and Enhancing of Existing Plants</h5>
						   <p> We provide an effective solution to revamp and enhance the old plant, which is not working as per the requirement, saving the cost for the new system. </p>
						</div>
				</div> 
				   <div class="float-rt feature-gd">	
                        <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
						<div class="icon-info">
						   <h5> Production of Custom Made Plants</h5>
						    <p> Our experienced engineers work with the Clients to understand their specific needs and develop a treatment plant that is tailored to their individual requirements. </p>
						</div>
				</div>	 
				<div class="float-lt feature-gd">	
						<div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
						<div class="icon-info">
						   <h5>Water Audit</h5>
						   <p> A detailed study of the water circuit to increse the efficiency of the system which is carried out by an expert. A detailed analysis report is submitted to showing improvement required in the system/ </p>
						</div>
		                
				   </div>	
				   <div class="float-mid feature-gd">	
						<div class="icon"> <span class="fa fa-cube" aria-hidden="true"></span></div>
						<div class="icon-info">
						   <h5>Chemicals & Spares</h5>
						   <p> We understand the importance of having access to high-quality chemical spares for the maintenance and upkeep of your treatment systems. Accordingly, we offer a wide range of chemical spares for our clients. </p>
						</div>
				</div> 
				   <div class="float-rt feature-gd">	
                        <div class="icon"> <span class="fa fa-spinner" aria-hidden="true"></span></div>
						<div class="icon-info">
						   <h5>Consultation for water treatment system</h5>
						    <p> We provide consultation for greenfield projects, existing project up-gradation, and integrating an existing plant with a new plant. </p>
						</div>
				</div>		 				 
		     </div>  
		    </div>
          </div>
      <!-- //features -->
</section>
<!-- customers4 block -->

<!-- subscribe form -->
<section class="w3l-forms-9">
    <div class="main-w3">
        <div class="wrapper">
            <div class="grids-forms">
                <span class="fa fa-envelope" aria-hidden="true"></span>
                <div class="main-midd">
                    <h4 class="title-head">Subscribe Newsletter</h4>
                    <p>Stay Connected, We appreciate your feedback.</p>
                </div>
                <div class="main-midd-2">
                    <form action="#" method="post" class="rightside-form">
                        <input type="email" name="email" placeholder="Your Email.." required>
                        <button type="submit" class="btn">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //subscribe form -->
