<section class="w3l-footer-29-main">
    <div class="footer-29">
        <div class="wrapper">
            <div class="d-grid grid-col-4 footer-top-29">
                <div class="footer-list-29 footer-1">
                    <h6 class="footer-title-29">Contact Us</h6>
                    <ul>
                        <li><p><span class="fa fa-map-marker"></span> Estate Business, #32841 block, #221DRS Real estate business building, UK.</p></li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
                        <li><a href="mailto:corporate-mail@support.com" class="mail"><span class="fa fa-envelope-open-o"></span> corporate-mail@support.com</a></li>
                    </ul>
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-2">
                    <!-- <ul>
                        <h6 class="footer-title-29">Work Flows</h6>
                        <li><a href="single.html">Management</a></li>
                        <li><a href="single.html">Reporting</a></li>
                        <li><a href="single.html">Tracking</a></li>
                        <li><a href="login.html">All Users</a></li>
                        <li><a href="contact.html">Support</a></li>
                    </ul> -->
                </div>
                <div class="footer-list-29 footer-3">
                    <div class="properties">
                        <h6 class="footer-title-29">Recent Post</h6>
                        <a href="single.html"><img src="assets/images/s1.jpg" class="img-responsive" alt=""><p>We Are Leading International Consultiing Agency</p></a>
                        <a href="single.html"><img src="assets/images/s2.jpg" class="img-responsive" alt=""><p>Digital Marketing Agency all the foundational tools</p></a>
                        <a href="single.html"><img src="assets/images/s3.jpg" class="img-responsive" alt=""><p>Doloremque velit sapien labore eius itna</p></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Contact</a></li>
                        <li><a href="blog.html"> Contact</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-grid grid-col-2 bottom-copies">
                <p class="copy-footer-29">© 2023 Agreeing. All rights reserved | Designed by Swem-Water</p>
                 <ul class="list-btm-29">
                        <li><a href="#link">Privacy policy</a></li>
                        <li><a href="#link">Terms of service</a></li>
                        <li><select name="carlist" form="carform">
                                <option value="Language">English</option>
                                <option value="Language">France</option>
                                <option value="Language">Spanish </option>
                                <option value="Language">Russian</option>
                            </select>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
     <!-- move top -->
		<button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
                   </button>
                   <script>
                       // When the user scrolls down 20px from the top of the document, show the button
                       window.onscroll = function () {
                           scrollFunction()
                       };
                
                       function scrollFunction() {
                           if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                               document.getElementById("movetop").style.display = "block";
                           } else {
                               document.getElementById("movetop").style.display = "none";
                           }
                       }
                
                       // When the user clicks on the button, scroll to the top of the document
                       function topFunction() {
                           document.body.scrollTop = 0;
                           document.documentElement.scrollTop = 0;
                       }
                   </script>
                   <!-- /move top -->
</section>
<!-- // grids block 5 -->